.menu {
    height: 50vh;
    width: 50vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heading {
    width: 100%;
    height: 30%;
    text-align: center;
    position: absolute;
    top: 25%;
    border: 1px solid black;
}

h1,
h2 {
    width: 100%;
    text-align: center;
}

.menu a {
    margin: 25px;
}

.link-btn {
    height: 50%;
}

.menu span {
    height: 50%;
    font-size: 1.4rem;
}