<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Extraction</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <div class="menu">
        <a href="resume"><button class="link-btn" location.href='resume'><span>Parse a Resume</span></button></a>
        <a href="linkedin"><button class="link-btn" location.href='linkedin'><span>Parse a LinkedIn Profile</span></button></a>
    </div>
</body>

</html>