<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Extraction from Resume</title>
    <link rel="stylesheet" href="../static/resume.css">
</head>

<body>
    <div class="menu">
        <div class="declaration">
            <h1 class="headingdec">Personality Extraction from Resume</h1>
        </div>
        <form id="resumeform" action="" method="post" name="resumeform" data-name="resumeform">
            <div class="lineone">
                <label id="resumelabel" for="ruserinp">Enter the local full path to a resume:</label>
                <input type="text" name="pathinput" id="ruserinp" placeholder="Enter full path"></input>
            </div>
            <button type="submit" id="rsubmit">Submit</button>
        </form>
    </div>
</body>

</html>