<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Extraction from Resume</title>
    <link rel="stylesheet" href="../static/resume.css">
</head>

<body>
    <div class="menu">
        <a href="resume.html"><button class="link-btn" location.href='./resume.html'><span>Parse a
                    Resume</span></button></a>
        <a href="linkedin.html"><button class="link-btn" location.href='./linkedin.html'><span>Parse a LinkedIn
                    Profile</span></button></a>
    </div>
</body>

</html>