<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Extraction from Resume</title>
    <link rel="stylesheet" href="../static/resume.css">
</head>

<body>
    <div class="menu">
        <form id="resumeform" action="" method="post" name="resumeform" , data-name="resumeform">
            <label for="ruserinp">Enter the local full path to a resume.</label>
            <input type="text" name="pathinput" id="ruserinp" placeholder="Enter full path"></input>
            <button type="submit" id="rsubmit">Submit</button>
        </form>
    </div>
</body>

</html>